body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

p {

}
/* this is the css for individual entries*/
.projectbox {
	font-size: 12px;
	
}

.projectbox#title {

}




